footer{

    background-color: #1d1d1f;
}
.contacts{
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: fit-content;
}

.contacts a {
    color: #fff;
    text-decoration: none;
}

.contacts .logo{
    height: 50px;
    width: 50px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
}