<main>
    <div class="container-carousel">
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        
        <div class="carousel-container">
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="add">
                            <img src="../../../assets/img/banner1.PNG" class="d-block " alt="...">
                            <span>Não se esqueça dos lançamentos!</span>
                        </div>
                        
                    </div>
                    <div class="carousel-item">
                        <div class="add">
                            
                            <img src="../../../assets/img/banner2.PNG" class="d-block w-100" alt="...">
                            <span>Confira nossos produtos com desconto</span>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="add">

                            <img src="../../../assets/img/banner3.PNG" class="d-block w-100" alt="...">
                            <span>Confira nossos produtos com frete grátis</span>
                        </div>
                    </div>
                </div>


            </div>

        </div>
        
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="products">
        <h3>HEADSET</h3>
        <div id="scroll-cards">
            <button class="scroll-control left" (click)="scroll(-300)">
                <mat-icon>arrow_back</mat-icon>
            </button>
            
            <mat-card class="example-card">
                
                <img mat-card-image src="../../../assets/img/jogo1.PNG" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    
                    <h4>Jogo 1</h4>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>R$400</button>
                </mat-card-actions>
            </mat-card>
            
            <mat-card class="example-card">
                
                <img mat-card-image src="../../../assets/img/jogo2.PNG" alt="Photo of a Shiba Inu">
                <mat-card-content>

                    <h4>Jogo 1</h4>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>R$400</button>
                </mat-card-actions>
            </mat-card>
            
            <mat-card class="example-card">
                
                <img mat-card-image src="../../../assets/img/jogo3.PNG" alt="Photo of a Shiba Inu">
                <mat-card-content>

                    <h4>Jogo 1</h4>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>R$400</button>
                </mat-card-actions>
              </mat-card>
              <mat-card class="example-card">
                
                <img mat-card-image src="../../../assets/img/jogo1.PNG" alt="Photo of a Shiba Inu">
                <mat-card-content>

                    <h4>Jogo 1</h4>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>R$400</button>
                </mat-card-actions>
              </mat-card>
            
            <mat-card class="example-card">
                
                <img mat-card-image src="../../../assets/img/jogo2.PNG" alt="Photo of a Shiba Inu">
                <mat-card-content>

                    <h4>Jogo 1</h4>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>R$400</button>
                </mat-card-actions>
              </mat-card>
            
            <mat-card class="example-card">
                
                <img mat-card-image src="../../../assets/img/jogo3.PNG" alt="Photo of a Shiba Inu">
                <mat-card-content>

                    <h4>Jogo 1</h4>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>R$400</button>
                </mat-card-actions>
              </mat-card>
              <mat-card class="example-card">
                
                <img mat-card-image src="../../../assets/img/jogo1.PNG" alt="Photo of a Shiba Inu">
                <mat-card-content>

                    <h4>Jogo 1</h4>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>R$400</button>
                </mat-card-actions>
              </mat-card>
            
            <mat-card class="example-card">
                
                <img mat-card-image src="../../../assets/img/jogo2.PNG" alt="Photo of a Shiba Inu">
                <mat-card-content>

                    <h4>Jogo 1</h4>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>R$400</button>
                </mat-card-actions>
              </mat-card>
            
            <mat-card class="example-card">
                
                <img mat-card-image src="../../../assets/img/jogo3.PNG" alt="Photo of a Shiba Inu">
                <mat-card-content>

                    <h4>Jogo 1</h4>
                    <p>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>R$400</button>
                </mat-card-actions>
            </mat-card>

            <button class="scroll-control right" (click)="scroll(300)">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</main>
